<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-4">
        <button class="btn btn-outline-primary float-right" routerLink="/customers/add-customer"> <span class="fas fa-plus"></span> Add customer</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mt-3">
  <p-table #dt [value]="customers" [paginator]="true" [rows]="15" [globalFilterFields]="['id','name', 'phone']">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4em">Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Birthdate</th>
        <th>Address</th>
        <th>Discount</th>
        <th>In blacklist</th>
        <th style="width: 8em">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.birthdate | date: 'MMM d, y'}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.discount}}</td>
        <td>{{customer.in_blacklist ? 'Yes': 'No'}}</td>
        <td>
          <div class="btn-group flex-btn-group-container">
            <button [routerLink]="[customer.id, 'edit']" class="btn btn-primary btn-sm">
              <span class="fas fa-pencil-alt"></span>
            </button>
            <button (click)="deleteCustomer(customer)" class="btn btn-danger btn-sm">
              <span class="fas fa-times"></span>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>
  </div>
</div>


