
<div class="container mt-3 mb-3">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">

    </div>
    <div class="col-md-12 bg-light text-dark">
      <h2 class="text-center">Update Rent</h2>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="customer_id">Customer:</label>
          <select (change)="onChange($event.target.value)" formControlName="customer_id" id="customer_id" class="col-md-6 col-sm-6 form-control">
            <option [value]="customer.id" *ngFor="let customer of customers">{{customer.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="date_range">Rental period:</label>
          <input type="text" formControlName="date_range" name="date_range" id="date_range" daterangepicker [options]="options"  (selected)="selectedDate($event)" class="col-md-6 col-sm-6 form-control">
        </div>

        <div class="form-group">
          <label for="discount">Discount:</label>
          <input type="number" formControlName="discount" placeholder="Discount" name="discount" class="col-md-6 col-sm-6 form-control" id="discount">
        </div>   

        <div class="form-group">
          <p> Subtotal: {{ rent.subtotal_price }}</p>
          <p> Discount: {{ rent.discount }}</p>
          <p> Total: {{ rent.total_price }}</p>
             
        </div>
     
        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>

    <div class="col col-lg-2">
    </div>

      <div class="container-fluid">
      <table class="table table-sm table-striped mt-3">
        <thead class = "thead-secondary">
        <tr>
          <th style="visibility: hidden">Id</th>
          <th>Name</th>
          <th>Vendor Code</th>
          <th>Serial Number</th>
          <th>Size</th>
          <th>Price per day</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let equipment of rentedEqiupments">
          <td style="visibility: visible">{{equipment.id}}</td>
          <td>{{equipment.name}}</td>
          <td>{{equipment.vendor_code}}</td>
          <td>{{equipment.serial_number}}</td>
          <td>{{equipment.size}}</td>
          <td>{{equipment.price_per_day}}</td>
          <td>
            <button class="btn btn-danger mb-3" (click)="deleteEquipment(equipment)"> Delete</button> 
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>